[submodule "autd3-link-twincat/3rdparty/ADS"]
	path = autd3-link-twincat/3rdparty/ADS
	url = https://github.com/Beckhoff/ADS.git
[submodule "autd3-link-soem/3rdparty/SOEM"]
	path = autd3-link-soem/3rdparty/SOEM
	url = https://github.com/OpenEtherCATsociety/SOEM.git
