name: build

on:
  push:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  test:
    name: test-on-${{ matrix.os }}${{ matrix.features && '-' }}${{ matrix.features }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
          - os: macos-latest
          - os: ubuntu-latest
            features: "all"
          - os: ubuntu-latest
            features: "use_meter left_handed"
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-build
        with:
          os: ${{ matrix.os }}
          components: "rustfmt, clippy"
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest
      - run: cargo make check --features "${{ matrix.features }}"

  test-for-capi:
    name: test-for-capi
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-build
        with:
          os: ubuntu-latest
          components: "rustfmt, clippy"
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest
      - run: cargo make check --no-default-features --exclude autd3-examples --features "gain, modulation, link-audit, link-nop, greedy, gs, gspat, naive, local, remote, link, tokio"

  build-docs:
    name: build-docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-build
        with:
          os: ubuntu-latest
          toolchain: nightly
      - run: cargo make doc
      - uses: dtolnay/install@cargo-docs-rs
      - run: cargo +nightly docs-rs -pautd3 
      - run: cargo +nightly docs-rs -pautd3-core
      - run: cargo +nightly docs-rs -pautd3-derive
      - run: cargo +nightly docs-rs -pautd3-driver
      - run: cargo +nightly docs-rs -pautd3-firmware-emulator
      - run: cargo +nightly docs-rs -pautd3-gain-holo
      - run: cargo +nightly docs-rs -pautd3-link-remote
      - run: cargo +nightly docs-rs -pautd3-link-ethercrab
      - run: cargo +nightly docs-rs -pautd3-link-twincat

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-build
        with:
          os: ubuntu-latest
          cache: false
          components: llvm-tools
      - uses: SierraSoftworks/setup-grcov@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
      - run: cargo make cov lcov
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage
          disable_search: true
          fail_ci_if_error: true
